#header { height: 20%; background-color: #cd003a; }
	#header > h1 { font-size: 36px; color: #fff; height: 100%; margin: auto; padding-top: 5%; width: 150px; height: auto; }

#menu { height: 120px; }

#main { height: 500px; }

p { margin: 175px; margin-top: 50px;  font-size: 20px; color: black; position: absolute;}

#footer { margin-top: 50px; height: 150px; width: 100%; position: absolute; bottom: 0; position: static; background:linear-gradient(#eee, black); }
	#footer > #footer_top { width: 550px; margin: auto; }
		#footer > #footer_top > img { display: inline-block; height: 45px; margin: 45px; }
